.ImageUpload form {
  padding-bottom: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImageUpload form textarea {
  height: 300px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invisible{
  display:none;
}