@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: dimgray;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}