@media all and (min-width: 480px) {
  .Search {
    padding: 60px 0;
  }

  .Search form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Search .tags h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Search .tags p {
    color: #666;
  }
}